.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right > h4 {
  margin-left: 10px;
}

@media all and (max-width: 500px) {
  .header-left {
    margin-right: 35px;
  }
  .header-right h4 {
    font-size: small;
  }
}
