.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  animation: rainbow 10s infinite;
  animation-delay: 2s;
}

@keyframes rainbow {
  0% {
    background: linear-gradient(180deg, #fa897b, #191414);
    transition: 3s ease-in;
  }
  20% {
    background: linear-gradient(180deg, #d3dd18, #191414);
    transition: 3s ease-in;
  }
  40% {
    background: linear-gradient(180deg, #f8d90f, #191414);
    transition: 3s ease-in;
  }
  60% {
    background: linear-gradient(180deg, #d0e6a5, #191414);
    transition: 3s ease-in;
  }
  80% {
    background: linear-gradient(180deg, #0191b4, #191414);
    transition: 3s ease-in;
  }
  100% {
    background: linear-gradient(180deg, #ccabd8, #191414);
    transition: 3s ease-in;
  }
}

.login img {
  width: 30em;
  filter: hue-rotate(180deg) invert(1);
}

.login a {
  padding: 20px;
  border-radius: 99px;
  background-color: #1db954;
  font-weight: 800;
  color: white;
  text-decoration: none;
  outline: none;
}

@media all and (max-width: 500px) {
  .login img {
    width: 15em;
    object-fit: contain;
  }
}
