.search {
  background: linear-gradient(180deg, rgb(193, 36, 36), rgba(0, 0, 0, 1));
  padding: 30px;
  flex: 0.8;
  min-height: 100vh;
  color: white;
}

.search__input {
  background-color: white;
  min-width: 70px;
  color: gray;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}

.search__input > input {
  margin-left: 10px;
  outline: none;
  border: none;
  width: 100%;
}

@media all and (max-width: 400px) {
  .search {
    padding: 10px;
  }
  .search__input {
    padding: 8px;
  }
}
