.sidebar {
  height: auto;
  flex: 0.2;
  background-color: #040404;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  width: 230px;
  border-right: 1px solid #fff;
}

.sidebar-logo {
  height: 70px;
  padding: 10px;
  margin-right: auto;
}

.sidebar-title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}

@media screen and (max-width: 550px) {
  .sidebar {
    flex: 0.4;
  }
  .sidebar img {
    width: 100px;
    object-fit: contain;
  }
}
